@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&display=swap');

/*--------------------------------------------Colors */

body {
    background-color: #dfe0e5;
}

header {
    background-color: #696969;
}

/*--------------------------------------------Header */

header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 50%;
    min-height: 50%;
}

.logo {
    background: url(../images/bear_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 100px;
    min-width: 100px;
    max-height: 150px;
    max-width: 150px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    position: relative;
    left: 500px;
}

#nav li {
    font-size: 10px;
    padding: 0; 
}